@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
}

body {
    background-color: #ffffff;
    font-family: "Raleway", sans-serif;
    width: 100vw;
}

.nav__bg{
    background-color: #222831;
    padding: 24px 74px 35px 74px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    gap: 24px;
}

.logo > p {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #ffffff;
}

.logo > img{
    width: 120px;
}

nav > button{
    background-color: #76ABAE;
    width: 270px;
    padding: 20px 0;
    border-radius: 30px;
    border-style: none;
    color: #31363F;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 600; 
}





header > section{
    width: 100vw;
    background-color: #31363F;
    background-image: url(./img/bg.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.banner, .cabecalho{
    padding: 0 10%;
}

.banner__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4% 0;
}

h1 {
    color: #ffffff;
    font-weight: 600;
    font-size: 40px;
    padding-bottom: 4%;
}

h1 > span{
    color: #76ABAE;
}

.banner__conteudo > div > p{
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10%;
}

.banner__conteudo > button{
    background-color: #76ABAE;
    width: 350px;
    padding: 15px 0;
    border-radius: 25px;
    border-style: none;
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    color: #222831;
    font-size: 24px;
    font-weight: 600;   
}



main{
    padding: 10% 10%;
}

main > section{
    background-color: #31363F;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 95px;
    padding: 5% 8%;
}

.container{
    width: 50%;
}

h2{
    color: #76ABAE;
    font-size: 32px;
    padding-bottom: 10%;
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#nome, #email {
    width: 90%;
    padding: 24px;
    border-radius: 40px;
    font-size: 24px;
}


.botao__formulario{
    background-color: #76ABAE;
    width: 320px;
    padding: 15px 0;
    border-radius: 30px;
    border-style: none;
    font-family: "Roboto", sans-serif;
    color: #222831;
    font-size: 24px;
    font-weight: 600; 
    margin: 0 auto;
}

.fones{
    width: 100%;
}

footer{
    background-color: #222831; 
    padding: 5% 0; 
}

.cabecalho{
    display: flex;
    flex-direction: column;
}

.cabecalho > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 4%;
}

.social {
    display: flex;
    gap: 100px;
}

.cabecalho > p{
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    padding-bottom: 1%;
}

@media (max-width: 1000px){

    main > section{
        flex-direction: column-reverse;
    }

    .container{
        width: 100%;
    }
    #nome, #email {
        width: 80%;
        padding: 24px;
        border-radius: 40px;
        font-size: 24px;
    }
    
    .cabecalho > div * > img{
        width: 80%;
    }
    .social {
        display: flex;
        gap: 60px;
    }
}

@media (max-width: 800px){

    .logo > img {
        width: 90px;
    }

    .logo {
        gap: 16px;
    }

    .logo > p {
        font-size: 32px;
    }

    nav > button{
        width: 160px;
        padding: 10px 0;
        font-size: 16px;
    }
}

@media (max-width: 590px){

    .logo > img {
        width: 90px;
    }

    nav > button{
        display: none;
    }

    nav {
        display: flex;
        justify-content: center;
    }

    header > section{
        background-position: top;
    }

    .banner__conteudo{
        height: 50%;
        width: 100%;
        padding-top: 40%;
    }

    .social {
        gap: 30px;
    }

    .cabecalho > p{
        font-size: 16px;
    }

    h2{
        font-size: 24px;
    }

    .botao__formulario{
        width: 70%;
        padding: 7% 0;
        font-size: 16px;
    }

    .banner__conteudo > button{
        width: 80%;
        padding: 7% 0;
        font-size: 16px; 
    }
}